[submodule "CMSIS_5"]
	path = CMSIS_5
	url = git@github.com:ARM-software/CMSIS_5.git
[submodule "cmsis_device_l4"]
	path = cmsis_device_l4
	url = git@github.com:STMicroelectronics/cmsis_device_l4.git
